.Logo{
    width: 180px;
    margin-top: 15px;
    margin-left: 4em;
}
.login-signup{
    display: flex;
    list-style-type: none; /* 리스트 스타일 제거 */
  }
.Logo:hover{
    cursor: pointer;
}

.topNav{
    float: right;
    padding: 20px;
   padding-top: 20px;
}

   
.topNavbar {
   display: flex;
   justify-content: space-between;
}


.topNav li img {
   width: 30px;
   margin-right: 30px; /* 아이콘과 텍스트 사이의 간격을 조정합니다. */
   margin-left: 10px;
}

.LogoStyle {
   cursor: pointer;
   margin-left: -8rem;
}


.topNav {
   display: flex;
   justify-content: center;
   width: 60%;
}

.topNav li {
   display: flex;
   align-items: center; /* 아이콘과 텍스트를 수직 가운데 정렬합니다. */
   padding: 1rem;
}

.topNav li img {
   width: 30px;
   height: 30px;
}

.container.time {
    border-bottom: 1px dashed black;
    padding-top: 10px;
    overflow: hidden; /* 부모 요소가 자식 요소의 높이를 포함하도록 합니다. */
}

.container {
    padding-bottom: 10px;
}

.timeimage {
    width: 10em;
    height: 15em;
    display: block; /* 이미지를 인라인 블록으로 설정하여 텍스트와 나란히 배치될 수 있도록 합니다. */
    float: left; /* 이미지를 왼쪽으로 정렬합니다. */
    margin-right: 20px; /* 이미지 오른쪽 여백 추가 */
    padding-top: 15px;
}

.timeimage2{
    width: 10em;
    height: 15em;
    display: block; /* 이미지를 인라인 블록으로 설정하여 텍스트와 나란히 배치될 수 있도록 합니다. */
    float: left; /* 이미지를 왼쪽으로 정렬합니다. */
    margin-right: 20px; /* 이미지 오른쪽 여백 추가 */
    padding-top: 25px;
}

.navbar-container {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    padding: 0;
}


li a{
    text-decoration: none;
    color: black;
}

.footer-container {
    width: 100%;
    
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: black;
    color: azure;
    font-size: small;
}

.footerbar-list {
    max-width: 980px;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 2px dashed aliceblue;
    padding-bottom: 1rem;

}

.footerP {
    width: 50%;
    margin-left: 3rem;
    padding-bottom: 1rem;

}


.topNav li img {
    width: 30px;
    height: 30px;
}

.topNav {
    display: flex;
    justify-content: center;
    width: 60%;
}
.navbar {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.detail {
    margin-top: 20px;
}

.original-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    /* 첫 번째 열은 자동 너비, 두 번째 열은 나머지 공간을 차지 */
    gap: 30px;
    /* 열 사이의 간격 */
}


.text-content {
    /* 나머지 텍스트 요소들에 대한 스타일 */
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

#mypage:hover{
    cursor: pointer;
    text-align: right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-size: 30px;
}

.i11{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    padding-right: 7px;
    width: 30px;
    height: 30px;
}

.i12 {
    background-color: rgb(255,181,43);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    padding-right: 7px;
    width: 30px;
    height: 30px;
}


.i15 {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    padding-right: 7px;
    width: 30px;
    height: 30px;
}

/* 수정된 CSS */

.onair {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    text-align: center;
    margin-left: 10px; /* 왼쪽 여백을 추가하여 "상영중" 텍스트와 간격을 조절합니다. */
}


.sun {
    color: rgb(255, 85, 0);
    font-size: 15px;
}

.night {
    color: darkgoldenrod;
    font-size: 15px;
}


.seat {
    border: 1px solid gray;
    display: inline-block;
    background-color: rgb(246, 249, 255);
    text-align: center;
    transition: all 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.seat:hover {
    background-color: pink;
}

.clock {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

.no {
    color: #2275a4;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.clock {
    margin-top: 5px;
}

ul {
    padding-left: 0px;
    padding-bottom: 0px;
}

.etc {
    margin-left: 10px; /* "상영중" 텍스트와 같은 간격을 주기 위해 왼쪽 여백을 추가합니다. */
}

.info-movie{
    text-align: left;
    display: inline-block; 
}


.seats {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    
}

.type-hall {
    width: 100%;
    text-align: left; /* 오른쪽 정렬을 적용합니다. */
    margin-top: 10px; /* 필요에 따라 상단 여백을 조정합니다. */
    margin-left: 12em;
}

.info-hall{
    font-weight: bold;
}

.type-hall .info-hall {
    display: inline-block;
    margin-right: 20px; /* 오른쪽 여백을 조정합니다. */
}

.info-timetable {
    padding-right: 20px;
}

#time{
    font-weight: bold;
}